body {
    display: flex;
    background-image: url(https://images.alphacoders.com/265/265693.png)
}

.container1 {
    background-color: rgb(151,116,113, 0.9);
    padding: 30px;
    margin: 10% 20% 20%;
    display: flex;
    flex-direction: column;
    border-radius: 60px;
    box-shadow: 5px 5px 5px rgb(28, 39, 39);
}

input {
    text-align: center;
}

#title {
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    font-size: 3rem;
    text-shadow: 2px 2px 2px rgb(28, 39, 39);
    font-family: 'Fredoka One', cursive;
    letter-spacing: 2px;
    margin-top: 30px;
    text-align: center;



}

#prompt {
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    font-size: 3rem;
    text-shadow: 2px 2px 2px rgb(28, 39, 39);
    font-family: 'Fredoka One', cursive;
    letter-spacing: 2px;
    text-align: center;


}

.inputForm {
    border-radius: 50px;
    width: 400px;
    outline: none;
    font-size: 20px;
    box-shadow: 2px 2px 2px rgb(28, 39, 39);
    font-family: 'Fredoka One', cursive;

  }
  
  
  .inputBox {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 30px;
  }

  .inputForm:hover {
    box-shadow: 5px 5px 5px rgb(28, 39, 39);
    border-radius: 50px;
  
  }

  .button {
    border-radius: 50px;
    width: 250px;
    outline: none;
    font-size: 20px;
    box-shadow: 2px 2px 2px rgb(28, 39, 39);
    font-family: 'Fredoka One', cursive;
    color:white;
    background-color: #401a31;
    opacity: 0.8;
  }

  .button:hover {
    box-shadow: 5px 5px 5px rgb(28, 39, 39);
    border-radius: 50px;
  }

  .container2 {
      background-color: blue;
      justify-content: center;
      align-items: center;
      display: flex;
  }

  .buttonBox1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    /* margin-left: 180px; */
    /* background-color: blue; */
  }
  
  .buttonBox2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    /* margin-right: 180px; */
    /* background-color: blue; */

  }


.row1 {
    display: flex; */
    justify-content: center;
    align-items: center;
    background-color: red;
}


.trackerBox {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    font-weight: bold;
    margin-top: 30px;
    font-size: 2rem;
}